@charset "UTF-8";
/* Paleta de colores */
/* Dark */
/* Green */
/* White */
/* Grey */
/* Blue */
/* Gradientes */
/* Tamaños de fuente */
/* Grosor de fuente */
/* Esquinas redondeadas */
/* Clases universales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.textCenter {
  text-align: center;
}

.textUpper {
  text-transform: uppercase;
}

.overAuto {
  overflow: auto;
}

/* Bucles */
.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

.mt7 {
  margin-top: 7rem;
}

.mt8 {
  margin-top: 8rem;
}

.mt9 {
  margin-top: 9rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mb8 {
  margin-bottom: 8rem;
}

.mb9 {
  margin-bottom: 9rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #353535;
  font-weight: 400;
  font-size: 1rem;
}

#header {
  position: relative;
  min-height: 6rem;
  top: 0;
  border-bottom: 0.2rem solid #353535;
  z-index: 100;
  background-image: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(#284B63));
  background-image: linear-gradient(to left, #FFFFFF, #284B63);
}

#header nav {
  padding-left: 15%;
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}

#header nav div ul li div {
  margin-top: 1rem;
  border: transparent !important;
  background: #D9D9D9 !important;
  border-radius: 5px;
}

#header nav div ul li div a {
  border: transparent !important;
  background: #D9D9D9 !important;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-radius: 5px;
  font-size: 0.8rem;
}

#header nav div ul li div a:hover {
  scale: 1.1;
}

#header .logo {
  -webkit-transition: scale 0.4s;
  transition: scale 0.4s;
}

#header .logo:hover {
  scale: 1.1;
}

#header .logo img {
  width: 80px;
}

#header .navegacion ul li {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #353535 !important;
}

#header .navegacion ul li:hover {
  scale: 1.1;
  font-weight: 700;
}

#header .navegacion ul li a {
  color: #353535 !important;
}

#header .sideButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

#header .sideButton img {
  width: 20px;
  -webkit-transition: scale .4s;
  transition: scale .4s;
}

#header .sideButton img:hover {
  scale: 1.2;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9rem;
  background-color: #353535;
}

#footer nav ol {
  background-color: transparent;
}

#footer .contactChannels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#footer .contactChannels a {
  margin: 0 2rem;
  width: 30px;
  height: 30px;
}

#footer .contactChannels a img {
  width: 100%;
  height: 100%;
}

#footer .footerText .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footerText .footerMenu p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}

#footer .footerText .footerMenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

#footer .footerText .footerMenu ul li {
  margin: 0 2rem;
}

#footer .footerText .footerMenu ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
}

#footer .footerText p {
  color: #FFFFFF;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-preferred-size: 1200px;
      flex-basis: 1200px;
}

#main .sBienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5rem solid #D9D9D9;
}

#main .sBienvenida .mainImage1 {
  background-image: url("../assets/background1.jpg");
  height: 50vh;
  min-height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
}

#main .sBienvenida .mainImage1 a {
  text-decoration: none;
}

#main .sBienvenida .mainImage1 a h1 {
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sBienvenida .mainImage1 a h1:hover {
  scale: 1.1;
}

#main .sBienvenida .displayInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*
            @keyframes animaFondo{
                0%{
                    background-position: 5% 0%;
                }
                50%{
                    background-position: 96% 0%;
                }
                100%{
                    background-position: 5% 0%;
                }
            }
            background: linear-gradient(114.34deg, $color-2 0%, $color-3 9.13%, $color-4 23.49%, $color-5 37.81%, rgb(231, 105, 231) 51.25%, rgb(240, 93, 166) 68.38%, rgb(231, 208, 105) 82.32%, rgb(105, 231, 122) 92.08%, rgb(90,180,80)) !important;
            border-color: transparent !important;
            border-radius: $br-5;
            color: $color-1 !important;
            animation-name: animaFondo;
            animation-iteration-count: infinite !important;
            animation-duration: 42s !important;
            animation-delay: 0 !important;
            background-size: 1000% 1000% !important; */
}

#main .sBienvenida .displayInfo .card--A {
  background-color: #D9D9D9 !important;
  opacity: 85%;
  border-color: transparent !important;
  border-radius: 10px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--A div h2, #main .sBienvenida .displayInfo .card--A div h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#main .sBienvenida .displayInfo .card--B {
  background-color: #D9D9D9 !important;
  opacity: 85%;
  border-color: transparent !important;
  border-radius: 10px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--B div h2, #main .sBienvenida .displayInfo .card--B div h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#main .sBienvenida .displayInfo .card--C {
  background-color: #D9D9D9 !important;
  opacity: 85%;
  border-color: transparent !important;
  border-radius: 10px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--C div h2, #main .sBienvenida .displayInfo .card--C div h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#main .sDestacados {
  max-height: 50rem;
  min-height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .sDestacados .carouselContainer1 {
  max-width: 30rem;
}

#main .sDestacados .carouselContainer1 div h1 {
  margin-bottom: 1rem;
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .sDestacados .carouselContainer1 div div div img {
  border-radius: 10px;
}

#main .sDestacados .carouselContainer1 div a {
  text-decoration: none;
}

#main .sDestacados .carouselContainer1 div a p {
  margin-bottom: 1rem;
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sDestacados .carouselContainer1 div a p:hover {
  scale: 1.1;
}

#main .sIntermedia {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 0.5rem solid #284B63;
  border-bottom: 0.5rem solid #284B63;
}

#main .sIntermedia .mainImage2 {
  background-image: url("../assets/background2.jpg");
  height: 30vh;
  width: 100%;
  min-height: 10rem;
  max-height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .sIntermedia .mainImage2 div {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}

#main .sIntermedia .mainImage2 div p {
  font-size: 1.4rem;
  color: #FFFFFF;
  word-wrap: break-word;
}

#main .sNuevo {
  max-height: 50rem;
  min-height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 0.5rem solid #D9D9D9;
}

#main .sNuevo .carouselContainer2 {
  max-width: 30rem;
}

#main .sNuevo .carouselContainer2 div h2 {
  margin-bottom: 1rem;
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .sNuevo .carouselContainer2 div div div img {
  border-radius: 10px;
}

#main .sNuevo .carouselContainer2 div a {
  text-decoration: none;
}

#main .sNuevo .carouselContainer2 div a p {
  margin-bottom: 1rem;
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sNuevo .carouselContainer2 div a p:hover {
  scale: 1.1;
}

#main .sReputacion {
  max-height: 50rem;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 0.5rem solid #D9D9D9;
}

#main .sReputacion div header p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #353535;
}

#main .sReputacion .carouselContainer3 {
  max-width: 30rem;
}

#main .sReputacion .carouselContainer3 div div div img {
  border-radius: 10px;
}

#main .sReputacion .carouselContainer3 div a {
  text-decoration: none;
}

#main .sReputacion .carouselContainer3 div a p {
  margin-bottom: 1rem;
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sReputacion .carouselContainer3 div a p:hover {
  scale: 1.1;
}

#main .sRegistro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
  background-color: #284B63;
  max-height: 300px;
}

#main .sRegistro div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .sRegistro div form div input {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#main .sRegistro div form div input:focus {
  scale: 1.2;
}

#main .sRegistro div form div .form-check-input {
  height: 1.5rem;
  width: 1.5rem;
}

#main .sRegistro div form button {
  background-color: #D9D9D9;
  color: #353535;
  border: 3px solid #3C6E71;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#main .sRegistro div form button:hover {
  scale: 1.2;
}

.modal .modal-dialog .modal-content {
  background-color: #3C6E71;
}

.modal .modal-dialog .modal-content .modal-header h5 {
  color: #FFFFFF;
}

.modal .modal-dialog .modal-content .modal-body {
  color: #FFFFFF;
}

#main .carrito {
  width: 100vw;
  min-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
}

#main .carrito p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .carrito table ul {
  list-style-type: none;
  margin: 0 3rem;
  color: #FFFFFF;
}

#main .carrito .checkOutContainer {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  background-color: #3C6E71;
}

#main .carrito .checkOutContainer .checkOutImage1 {
  background-image: url("../assets/checkoutimage1.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  #main .carrito .checkOutContainer .checkOutImage1 {
    min-height: 500px;
  }
}

#main .carrito .checkOutContainer div table th, #main .carrito .checkOutContainer div table li {
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (min-width: 1200px) {
  #main .carrito .checkOutContainer div table th, #main .carrito .checkOutContainer div table li {
    font-size: 1rem;
    font-weight: 400;
  }
}

#main .carrito .checkOutContainer .checkOutImage2 {
  background-image: url("../assets/checkoutimage2.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  #main .carrito .checkOutContainer .checkOutImage2 {
    min-height: 500px;
  }
}

#main .galeria .galeriaProductos .galeriaProductos__general div div a {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../assets/empty_heart.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .galeria .galeriaProductos .galeriaProductos__general div div a:hover {
  scale: 1.2;
}

#main .galeriaProductos {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .galeriaProductos .galeriaProductos__general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#main .galeriaProductos .galeriaProductos__general div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .galeriaProductos .galeriaProductos__general div div {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main .galeriaProductos .galeriaProductos__general div div:hover {
  scale: 1.6;
}

#main .galeriaProductos .general--living {
  background-color: #ece9e3;
  border-radius: 10px;
}

#main .galeriaProductos .general--living .L1 {
  background-image: url("../assets/productos/living/gabinete.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--living .L2 {
  background-image: url("../assets/productos/living/gabdoble.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--living .L3 {
  background-image: url("../assets/productos/living/mesa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--living .L4 {
  background-image: url("../assets/productos/living/rack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--living .L5 {
  background-image: url("../assets/productos/living/ratona.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--living .L6 {
  background-image: url("../assets/productos/living/mesaapoyo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--dormitorio {
  background-color: #e7d5d8;
  border-radius: 10px;
}

#main .galeriaProductos .general--dormitorio .D1 {
  background-image: url("../assets/productos/dormitorio/banco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--dormitorio .D2 {
  background-image: url("../assets/productos/dormitorio/cama.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--dormitorio .D3 {
  background-image: url("../assets/productos/dormitorio/cama2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--dormitorio .D4 {
  background-image: url("../assets/productos/dormitorio/comoda.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--dormitorio .D5 {
  background-image: url("../assets/productos/dormitorio/comoda2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--dormitorio .D6 {
  background-image: url("../assets/productos/dormitorio/mesaluz.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--despacho {
  background-color: #bcd3bc;
  border-radius: 10px;
}

#main .galeriaProductos .general--despacho .O1 {
  background-image: url("../assets/productos/oficina/escritorio1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--despacho .O2 {
  background-image: url("../assets/productos/oficina/escritorio2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--despacho .O3 {
  background-image: url("../assets/productos/oficina/escritorio3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--despacho .O4 {
  background-image: url("../assets/productos/oficina/gabinete1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--despacho .O5 {
  background-image: url("../assets/productos/oficina/gabinete2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--despacho .O6 {
  background-image: url("../assets/productos/oficina/lamp1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--comedor {
  background-color: #d6c7d8;
  border-radius: 10px;
}

#main .galeriaProductos .general--comedor .C1 {
  background-image: url("../assets/productos/comedor/mesa1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--comedor .C2 {
  background-image: url("../assets/productos/comedor/mesa2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--comedor .C3 {
  background-image: url("../assets/productos/comedor/mesa3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--comedor .C4 {
  background-image: url("../assets/productos/comedor/mesa4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--comedor .C5 {
  background-image: url("../assets/productos/comedor/silla1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--comedor .C6 {
  background-image: url("../assets/productos/comedor/silla2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--muebles_infantiles {
  background-color: #e8ebbf;
  border-radius: 10px;
}

#main .galeriaProductos .general--muebles_infantiles .I1 {
  background-image: url("../assets/productos/muebles_infantiles/cuna1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--muebles_infantiles .I2 {
  background-image: url("../assets/productos/muebles_infantiles/cuna2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--muebles_infantiles .I3 {
  background-image: url("../assets/productos/muebles_infantiles/cuna3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--muebles_infantiles .I4 {
  background-image: url("../assets/productos/muebles_infantiles/juego1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--muebles_infantiles .I5 {
  background-image: url("../assets/productos/muebles_infantiles/juego2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos .general--muebles_infantiles .I6 {
  background-image: url("../assets/productos/muebles_infantiles/juego3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .galeriaProductos p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .formularioContacto {
  background-image: url("../assets/background4.jpg");
  width: 100vw;
  height: 70vh;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  border-radius: 5px;
}

#main .formularioContacto .formularioContacto_campo {
  max-width: 50vw;
  max-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  border-style: none;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario {
  background-color: #FFFFFF;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario legend {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario input:focus {
  scale: 1.2;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario label {
  margin: 1rem;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta {
  background-color: #FFFFFF;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta legend {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta input:focus {
  scale: 1.2;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta label {
  margin: 1rem;
}

#main .formularioContacto .formularioContacto_campo div .campo--legal {
  background-color: #284B63;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--legal label {
  font-size: 0.8rem;
  font-weight: 300;
}

#main .formularioContacto .formularioContacto_campo div .campo--botones {
  background-color: #FFFFFF;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--botones .limpiar {
  background-color: #284B63;
  border-radius: 5px;
}

#main .formularioContacto .formularioContacto_campo div .campo--botones .enviar {
  background-color: #D9D9D9;
  border-radius: 5px;
}

#main .wishContainer {
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .destacado {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado header {
  width: 100%;
  border-bottom: 0.5rem solid #284B63;
}

#main .destacado header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .destacado .destacadoGaleria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .destacadoGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .destacadoGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .destacadoGaleria div .destacado1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/destacados/mesa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .destacadoGaleria div .destacado1:hover {
  scale: 1.1;
}

#main .destacado .destacadoGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .destacadoGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .destacadoGaleria div .destacado2 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/destacados/mesa2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .destacadoGaleria div .destacado2:hover {
  scale: 1.1;
}

#main .destacado .destacadoGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .destacadoGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .destacadoGaleria div .destacado3 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/destacados/mesa3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .destacadoGaleria div .destacado3:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .ofertaGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .ofertaGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .ofertaGaleria div .oferta1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/ofertas/oferta1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .ofertaGaleria div .oferta1:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria div p {
  text-decoration: line-through;
}

#main .destacado .ofertaGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .ofertaGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .ofertaGaleria div .oferta2 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/ofertas/oferta2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .ofertaGaleria div .oferta2:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria div p {
  text-decoration: line-through;
}

#main .destacado .ofertaGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .destacado .ofertaGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .ofertaGaleria div .oferta3 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/ofertas/oferta3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .ofertaGaleria div .oferta3:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria div p {
  text-decoration: line-through;
}

#main .contenedorMayoristas {
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .contenedorMayoristas p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .contenedorMayoristas .sideBySide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 1rem solid #284B63;
}

#main .contenedorMayoristas .sideBySide form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 20rem;
  padding-left: 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .contenedorMayoristas .sideBySide form label {
  font-weight: 300;
}

#main .contenedorMayoristas .sideBySide form input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .contenedorMayoristas .sideBySide form input:focus {
  scale: 1.2;
}

@media screen and (min-width: 992px) {
  #main .contenedorMayoristas .sideBySide form {
    width: 50%;
    padding: 1rem;
  }
}

#main .contenedorMayoristas .sideBySide .backgroundMayoristas {
  width: 100%;
  background-image: url("../assets/backgroundmayoristas.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  #main .contenedorMayoristas .sideBySide .backgroundMayoristas {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  #main .contenedorMayoristas .sideBySide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#main {
  width: 100%;
}

#main .empresa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .empresa .sInicial {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .empresa .sInicial .backgroundFabrica {
  width: 100%;
  min-height: 450px;
  max-height: 45vh;
  background-image: url("../assets/nosotros/fabrica-panoramica.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sInicial .location {
  border: 1rem solid #D9D9D9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 200px;
  max-height: 35vh;
}

#main .empresa .sHistoria {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  min-height: 500px;
  max-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#main .empresa .sHistoria .redaccion1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#main .empresa .sHistoria .redaccion1 header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .empresa .sHistoria .fotoHistoria {
  width: 50%;
  min-height: 500px;
  max-height: 50vh;
  background-image: url("../assets/nosotros/antigua.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sHistoria div div p {
  font-style: italic;
  text-align: justify;
}

#main .empresa .sFabrica {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  min-height: 500px;
  max-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#main .empresa .sFabrica .fotoOperario {
  width: 50%;
  min-height: 500px;
  max-height: 50vh;
  background-image: url("../assets/nosotros/operario.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sFabrica div div p {
  font-style: italic;
  text-align: justify;
}

#main .empresa .sFabrica div div p span {
  font-weight: 700;
}

#main .empresa .sFabrica .redaccion2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#main .empresa .sFabrica .redaccion2 header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .empresa .sEquipo {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-height: 500px;
  max-height: 50vh;
}

#main .empresa .sEquipo .redaccion3 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#main .empresa .sEquipo .redaccion3 header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .empresa .sEquipo .fotoEquipo1 {
  width: 50%;
  min-height: 500px;
  max-height: 50vh;
  background-image: url("../assets/nosotros/operario-pintura.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sEquipo div div p {
  font-style: italic;
  text-align: justify;
}

#main .empresa .tallerDeFondo {
  border-top: 0.5rem solid #284B63;
  border-bottom: 0.5rem solid #284B63;
  width: 100%;
  min-height: 16rem;
  max-height: 30vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .empresa .tallerDeFondo .fotoTaller {
  border-top: 2rem solid #D9D9D9;
  border-bottom: 2rem solid #D9D9D9;
  width: 100%;
  min-height: 15rem;
  max-height: 30vh;
  background-image: url("../assets/nosotros/taller.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .empresa .tallerDeFondo .fotoTaller .veloGris {
  position: absolute;
  width: 100vw;
  min-height: 11rem;
  max-height: 30vh;
  background-color: #284B63;
  z-index: 100;
  opacity: 25%;
}

#main .novedad {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .novedad header {
  width: 100%;
  border-bottom: 0.5rem solid #284B63;
}

#main .novedad header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .novedad .novedadGaleria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .novedad .novedadGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .novedad .novedadGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .novedad .novedadGaleria div .novedad1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/novedades/novedad1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .novedad .novedadGaleria div .novedad1:hover {
  scale: 1.1;
}

#main .novedad .novedadGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .novedad .novedadGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .novedad .novedadGaleria div .novedad2 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/novedades/novedad2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .novedad .novedadGaleria div .novedad2:hover {
  scale: 1.1;
}

#main .novedad .novedadGaleria div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .novedad .novedadGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .novedad .novedadGaleria div .novedad3 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/novedades/novedad3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .novedad .novedadGaleria div .novedad3:hover {
  scale: 1.1;
}
/*# sourceMappingURL=style.css.map */