@charset "UTF-8";
/* Paleta de colores */
/* Dark */
/* Green */
/* White */
/* Grey */
/* Blue */
/* Gradientes */
/* Tamaños de fuente */
/* Grosor de fuente */
/* Esquinas redondeadas */
/* Clases universales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.textCenter {
  text-align: center;
}

.textUpper {
  text-transform: uppercase;
}

.overAuto {
  overflow: auto;
}

/* Bucles */
.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

.mt7 {
  margin-top: 7rem;
}

.mt8 {
  margin-top: 8rem;
}

.mt9 {
  margin-top: 9rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mb8 {
  margin-bottom: 8rem;
}

.mb9 {
  margin-bottom: 9rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #353535;
  font-weight: 400;
  font-size: 1rem;
}

#header {
  position: relative;
  min-height: 6rem;
  top: 0;
  border-bottom: 0.2rem solid #353535;
  z-index: 100;
  background-image: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(#284B63));
  background-image: linear-gradient(to left, #FFFFFF, #284B63);
}

#header nav {
  padding-left: 15%;
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}

#header nav div ul li div {
  margin-top: 1rem;
  border: transparent !important;
  background: #D9D9D9 !important;
  border-radius: 5px;
}

#header nav div ul li div a {
  border: transparent !important;
  background: #D9D9D9 !important;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-radius: 5px;
  font-size: 0.8rem;
}

#header nav div ul li div a:hover {
  scale: 1.1;
}

#header .logo {
  -webkit-transition: scale 0.4s;
  transition: scale 0.4s;
}

#header .logo:hover {
  scale: 1.1;
}

#header .logo img {
  width: 80px;
}

#header .navegacion ul li {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #353535 !important;
}

#header .navegacion ul li:hover {
  scale: 1.1;
  font-weight: 700;
}

#header .navegacion ul li a {
  color: #353535 !important;
}

#header .sideButton img {
  width: 20px;
  -webkit-transition: scale .4s;
  transition: scale .4s;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  42% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(0px, -8px);
            transform: translate(0px, -8px);
  }
  49% {
    -webkit-transform: translate(0px, 2px);
            transform: translate(0px, 2px);
  }
  52% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  42% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(0px, -8px);
            transform: translate(0px, -8px);
  }
  49% {
    -webkit-transform: translate(0px, 2px);
            transform: translate(0px, 2px);
  }
  52% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#header .sideButton img:hover {
  scale: 1.2;
}

#footer {
  min-height: 9rem;
  background-color: #353535;
}

#footer nav ol {
  background-color: transparent;
}

#footer .contactChannels a {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: auto;
  -webkit-animation-name: tic;
          animation-name: tic;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes tic {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  55% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tic {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  45% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  55% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#footer .contactChannels a:hover {
  scale: 1.1;
}

#footer .contactChannels a:focus {
  scale: 1.1;
}

#footer .contactChannels a img {
  width: 100%;
  height: 100%;
}

#footer .footerText .footerMenu p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}

#footer .footerText .footerMenu ul {
  list-style: none;
}

#footer .footerText .footerMenu ul li a {
  text-decoration: none;
}

#footer .footerText .footerMenu ul li a p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
}

#footer .footerText p {
  color: #FFFFFF;
}

#main {
  -ms-flex-preferred-size: 1200px;
      flex-basis: 1200px;
}

#main .sBienvenida {
  border-bottom: 0.5rem solid #D9D9D9;
}

#main .sBienvenida .mainImage1 {
  background-image: url("../assets/background1.jpg");
  height: 50vh;
  min-height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
}

#main .sBienvenida .mainImage1 a {
  text-decoration: none;
}

#main .sBienvenida .mainImage1 a h1 {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sBienvenida .mainImage1 a h1:hover {
  scale: 1.1;
}

#main .sBienvenida .displayInfo {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(114.34deg, #FFFFFF 0%, #3C6E71 50%, #FFFFFF 100%);
  border-radius: 5px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--A {
  background-color: #D9D9D9 !important;
  opacity: 85%;
  border-color: transparent !important;
  border-radius: 10px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--A div h2, #main .sBienvenida .displayInfo .card--A div h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#main .sBienvenida .displayInfo .card--B {
  background-color: #D9D9D9 !important;
  opacity: 85%;
  border-color: transparent !important;
  border-radius: 10px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--B div h2, #main .sBienvenida .displayInfo .card--B div h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#main .sBienvenida .displayInfo .card--C {
  background-color: #D9D9D9 !important;
  opacity: 85%;
  border-color: transparent !important;
  border-radius: 10px;
  color: #353535 !important;
}

#main .sBienvenida .displayInfo .card--C div h2, #main .sBienvenida .displayInfo .card--C div h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

#main .sDestacados {
  max-height: 50rem;
  min-height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .sDestacados .carouselContainer1 {
  max-width: 30rem;
}

#main .sDestacados .carouselContainer1 div h1 {
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .sDestacados .carouselContainer1 div div div img {
  border-radius: 10px;
}

#main .sDestacados .carouselContainer1 div a {
  text-decoration: none;
}

#main .sDestacados .carouselContainer1 div a p {
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sDestacados .carouselContainer1 div a p:hover {
  scale: 1.1;
}

#main .sIntermedia {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-top: 0.5rem solid #284B63;
  border-bottom: 0.5rem solid #284B63;
}

#main .sIntermedia .mainImage2 {
  background-image: url("../assets/background2.jpg");
  height: 30vh;
  width: 100%;
  min-height: 10rem;
  max-height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main .sIntermedia .mainImage2 div {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .sIntermedia .mainImage2 div p {
  font-size: 1.4rem;
  color: #FFFFFF;
  word-wrap: break-word;
}

#main .sNuevo {
  max-height: 50rem;
  min-height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0.5rem solid #D9D9D9;
}

#main .sNuevo .carouselContainer2 {
  max-width: 30rem;
}

#main .sNuevo .carouselContainer2 div h2 {
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .sNuevo .carouselContainer2 div div div img {
  border-radius: 10px;
}

#main .sNuevo .carouselContainer2 div a {
  text-decoration: none;
}

#main .sNuevo .carouselContainer2 div a p {
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .sNuevo .carouselContainer2 div a p:hover {
  scale: 1.1;
}

#main .sReputacion {
  max-height: 50rem;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 0.5rem solid #D9D9D9;
}

#main .sReputacion div header p {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: #353535;
}

#main .sReputacion .carouselContainer3 {
  max-width: 30rem;
}

#main .sReputacion .carouselContainer3 div div div img {
  border-radius: 10px;
}

#main .sReputacion .carouselContainer3 div a {
  text-decoration: none;
}

#main .sRegistro {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  background-color: #284B63;
  max-height: 300px;
}

#main .sRegistro div form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .sRegistro div form div input {
  max-width: 90vw;
  margin: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#main .sRegistro div form div input:focus {
  scale: 1.1;
}

#main .sRegistro div form div .form-check-input {
  height: 1.5rem;
  width: 1.5rem;
}

#main .sRegistro div form button {
  background-color: #D9D9D9;
  color: #353535;
  border: 3px solid #3C6E71;
  max-width: 90vw;
  margin: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#main .sRegistro div form button:hover {
  scale: 1.1;
}

.modal .modal-dialog .modal-content {
  background-color: #3C6E71;
}

.modal .modal-dialog .modal-content .modal-header h5 {
  color: #FFFFFF;
}

.modal .modal-dialog .modal-content .modal-body {
  color: #FFFFFF;
}

#main .carrito {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
}

#main .carrito p {
  width: auto;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .carrito table ul {
  list-style-type: none;
  margin: 0 3rem;
  color: #FFFFFF;
}

#main .carrito .checkOutContainer {
  width: 100%;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  background-color: #3C6E71;
}

#main .carrito .checkOutContainer .checkOutImage1 {
  background-image: url("../assets/checkoutimage1.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  #main .carrito .checkOutContainer .checkOutImage1 {
    min-height: 500px;
  }
}

#main .carrito .checkOutContainer div table {
  width: 100%;
}

#main .carrito .checkOutContainer div table th, #main .carrito .checkOutContainer div table li {
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (min-width: 1200px) {
  #main .carrito .checkOutContainer div table th, #main .carrito .checkOutContainer div table li {
    font-size: 1rem;
    font-weight: 400;
  }
}

#main .carrito .checkOutContainer .checkOutImage2 {
  background-image: url("../assets/checkoutimage2.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  #main .carrito .checkOutContainer .checkOutImage2 {
    min-height: 500px;
  }
}

#main .galeria {
  width: 100%;
}

#main .galeria .galeriaProductos {
  width: 100%;
}

#main .galeria .galeriaProductos div div a {
  margin: 1rem;
}

#main .galeria .galeriaProductos div div a img {
  border-radius: 10px;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main .galeria .galeriaProductos div div a img:hover {
  scale: 1.2;
}

#main .formularioContacto {
  background-image: url("../assets/background4.jpg");
  width: 100%;
  height: 70vh;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  border-radius: 5px;
}

#main .formularioContacto .formularioContacto_campo {
  max-width: 50%;
  max-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  border-style: none;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario {
  background-color: #FFFFFF;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario legend {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario input:focus {
  scale: 1.1;
}

#main .formularioContacto .formularioContacto_campo div .campo--datosUsuario label {
  margin: 1rem;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta {
  background-color: #FFFFFF;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta legend {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta input:focus {
  scale: 1.1;
}

#main .formularioContacto .formularioContacto_campo div .campo--consulta label {
  margin: 1rem;
}

#main .formularioContacto .formularioContacto_campo div .campo--legal {
  background-color: #284B63;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--legal label {
  font-size: 0.8rem;
  font-weight: 300;
}

#main .formularioContacto .formularioContacto_campo div .campo--botones {
  background-color: #FFFFFF;
  border-radius: 10px;
}

#main .formularioContacto .formularioContacto_campo div .campo--botones .limpiar {
  background-color: #284B63;
  border-radius: 5px;
}

#main .formularioContacto .formularioContacto_campo div .campo--botones .enviar {
  background-color: #D9D9D9;
  border-radius: 5px;
}

#main .wishContainer {
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
}

#main .destacado {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .destacado header {
  width: 100%;
  border-bottom: 0.5rem solid #284B63;
}

#main .destacado header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .destacado .destacadoGaleria {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .destacado .destacadoGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .destacadoGaleria div .destacado1 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/destacados/mesa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .destacadoGaleria div .destacado1:hover {
  scale: 1.1;
}

#main .destacado .destacadoGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .destacadoGaleria div .destacado2 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/destacados/mesa2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .destacadoGaleria div .destacado2:hover {
  scale: 1.1;
}

#main .destacado .destacadoGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .destacadoGaleria div .destacado3 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/destacados/mesa3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .destacadoGaleria div .destacado3:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .destacado .ofertaGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .ofertaGaleria div .oferta1 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/ofertas/oferta1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .ofertaGaleria div .oferta1:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria div .tachado {
  text-decoration: line-through;
}

#main .destacado .ofertaGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .ofertaGaleria div .oferta2 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/ofertas/oferta2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .ofertaGaleria div .oferta2:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria div .tachado {
  text-decoration: line-through;
}

#main .destacado .ofertaGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .destacado .ofertaGaleria div .oferta3 {
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/ofertas/oferta3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .destacado .ofertaGaleria div .oferta3:hover {
  scale: 1.1;
}

#main .destacado .ofertaGaleria div .tachado {
  text-decoration: line-through;
}

#main .contenedorMayoristas {
  border-top: 1rem solid #284B63;
  border-bottom: 1rem solid #284B63;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .contenedorMayoristas p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .contenedorMayoristas .sideBySide {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border-top: 1rem solid #284B63;
  justify-items: stretch;
}

#main .contenedorMayoristas .sideBySide form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 20rem;
  padding-left: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .contenedorMayoristas .sideBySide form label {
  font-weight: 700;
}

#main .contenedorMayoristas .sideBySide form a {
  text-decoration: none;
}

#main .contenedorMayoristas .sideBySide form a input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main .contenedorMayoristas .sideBySide form a input:focus {
  scale: 1.2;
}

@media screen and (min-width: 992px) {
  #main .contenedorMayoristas .sideBySide form {
    width: 50%;
    padding-left: 4rem;
  }
}

#main .contenedorMayoristas .sideBySide .backgroundMayoristas {
  width: 100%;
  background-image: url("../assets/backgroundmayoristas.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

@media screen and (min-width: 992px) {
  #main .contenedorMayoristas .sideBySide .backgroundMayoristas {
    width: 50%;
    border-radius: 0;
  }
}

@media screen and (min-width: 992px) {
  #main .contenedorMayoristas .sideBySide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#main {
  width: 100%;
}

#main .empresa {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .empresa .sInicial {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .empresa .sInicial .backgroundFabrica {
  width: 100%;
  min-height: 250px;
  max-height: 45vh;
  background-image: url("../assets/nosotros/fabrica-panoramica.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 960px) {
  #main .empresa .sInicial .backgroundFabrica {
    min-height: 450px;
  }
}

#main .empresa .sInicial .location {
  border: 1rem solid #D9D9D9;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 200px;
  max-height: 35vh;
}

#main .empresa .sHistoria {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  max-height: 110vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .empresa .sHistoria .redaccion1 {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .empresa .sHistoria .redaccion1 header p {
  font-size: 1rem;
  font-weight: 700;
}

#main .empresa .sHistoria .fotoHistoria {
  width: 100%;
  min-height: 500px;
  max-height: 50vh;
  background-image: url("../assets/nosotros/antigua.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sHistoria div div p {
  font-style: italic;
  text-align: justify;
  font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {
  #main .empresa .sHistoria {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 500px;
    max-height: 50vh;
  }
  #main .empresa .sHistoria .redaccion1 {
    width: 50%;
  }
  #main .empresa .sHistoria .redaccion1 header p {
    font-size: 1rem;
    font-weight: 700;
  }
  #main .empresa .sHistoria .fotoHistoria {
    width: 50%;
  }
  #main .empresa .sHistoria div div p {
    font-size: 1rem;
  }
}

#main .empresa .sFabrica {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  max-height: 150vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .empresa .sFabrica .fotoOperario {
  width: 100%;
  min-height: 500px;
  max-height: 50vh;
  background-image: url("../assets/nosotros/operario.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sFabrica div div p {
  font-style: italic;
  text-align: justify;
  font-size: 0.8rem;
}

#main .empresa .sFabrica div div p span {
  font-weight: 700;
}

#main .empresa .sFabrica .redaccion2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#main .empresa .sFabrica .redaccion2 header p {
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  #main .empresa .sFabrica {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 500px;
    max-height: 50vh;
  }
  #main .empresa .sFabrica .redaccion2 {
    width: 50%;
  }
  #main .empresa .sFabrica .redaccion2 header p {
    font-size: 1rem;
    font-weight: 700;
  }
  #main .empresa .sFabrica .fotoOperario {
    width: 50%;
  }
  #main .empresa .sFabrica div div p {
    font-size: 1rem;
  }
}

#main .empresa .sEquipo {
  border-top: 0.5rem solid #284B63;
  width: 100%;
  max-height: 110vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .empresa .sEquipo .redaccion3 {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .empresa .sEquipo .redaccion3 header p {
  font-size: 1rem;
  font-weight: 700;
}

#main .empresa .sEquipo .fotoEquipo1 {
  width: 100%;
  min-height: 500px;
  max-height: 50vh;
  background-image: url("../assets/nosotros/operario-pintura.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main .empresa .sEquipo div div p {
  font-style: italic;
  text-align: justify;
  font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {
  #main .empresa .sEquipo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 500px;
    max-height: 50vh;
  }
  #main .empresa .sEquipo .redaccion3 {
    width: 50%;
  }
  #main .empresa .sEquipo .redaccion3 header p {
    font-size: 1rem;
    font-weight: 700;
  }
  #main .empresa .sEquipo .fotoEquipo1 {
    width: 50%;
  }
  #main .empresa .sEquipo div div p {
    font-size: 1rem;
  }
}

#main .empresa .tallerDeFondo {
  border-top: 0.5rem solid #284B63;
  border-bottom: 0.5rem solid #284B63;
  width: 100%;
  min-height: 16rem;
  max-height: 30vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .empresa .tallerDeFondo .fotoTaller {
  border-top: 2rem solid #D9D9D9;
  border-bottom: 2rem solid #D9D9D9;
  width: 100%;
  min-height: 15rem;
  max-height: 30vh;
  background-image: url("../assets/nosotros/taller.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main .empresa .tallerDeFondo .fotoTaller .veloGris {
  position: absolute;
  width: 100vw;
  min-height: 11rem;
  max-height: 30vh;
  background-color: #284B63;
  z-index: 100;
  opacity: 25%;
}

#main .novedad {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .novedad header {
  width: 100%;
  border-bottom: 0.5rem solid #284B63;
}

#main .novedad header p {
  font-size: 1.4rem;
  font-weight: 700;
}

#main .novedad .novedadGaleria {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .novedad .novedadGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .novedad .novedadGaleria div .novedad1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/novedades/novedad1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .novedad .novedadGaleria div .novedad1:hover {
  scale: 1.1;
}

#main .novedad .novedadGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .novedad .novedadGaleria div .novedad2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/novedades/novedad2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .novedad .novedadGaleria div .novedad2:hover {
  scale: 1.1;
}

#main .novedad .novedadGaleria div h3 {
  font-size: 0.8rem;
  color: #1ac41a;
}

#main .novedad .novedadGaleria div .novedad3 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 16rem;
  height: 16rem;
  background-image: url("../assets/novedades/novedad3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .novedad .novedadGaleria div .novedad3:hover {
  scale: 1.1;
}
/*# sourceMappingURL=style.css.map */