#footer{
	min-height: 9rem;
    background-color: $color-1;
    nav{
        ol{
            background-color: transparent;
        }
    }
    .contactChannels{
        a{  
            width: 50px;
            height: 50px;
            transition: all 0.2s;
            margin: auto;
            @keyframes tic{
                0%{
                    transform: rotate(0deg);
                }
                40%{
                    transform: rotate(0deg);
                }
                45%{
                    transform: rotate(35deg);
                }
                55%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
            animation-name: tic;
            animation-iteration-count: infinite;
            animation-duration: 6s;
            animation-delay: 0;
            &:hover{
                scale: 1.1;
            }
            &:focus{
                scale: 1.1;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .footerText{
        .footerMenu{
            p{
                @include font($fs-lg, $fw-bold, $color-3);
            }
            ul{
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        p{
                            @include font($fs-md, $fw-light, $color-3);
                        }
                    }
                }
            }
        }
        p{
            color: $color-3;
        }
    }
}