#main{
    .galeria{
        width: 100%;
        .galeriaProductos{
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            div{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                div{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-content: center;
                    a{
                        display: flex;
                        margin: 1rem;
                      img{
                            border-radius: $br-10;
                            margin: 0;
                            transition: 0.3s;
                            &:hover{
                                scale: 1.2;
                            }
                        }
                    }
                }   
            }
        }
    }
}