#main{
    .galeria{
        width: 100%;
        .galeriaProductos{
            width: 100%;
            div{
                div{
                    img{
                        border-radius: $br-10;
                        margin: 0;
                        transition: 0.3s;
                        &:hover{
                            scale: 1.2;
                        }
                    }
                }
            }
        }
    }
}
    