#main{
    .destacado{
        width: 100%;
        flex-wrap: wrap;
        header{
            width: 100%;
            border-bottom: 0.5rem solid $color-5;
            p{
                font-size: $fs-lg;
                font-weight: $fw-bold;
            }
        }
        .destacadoGaleria{
            width: 100%;
            flex-wrap: wrap;
            div{
                h3{
                    font-size: $fs-sm;
                    color: rgb(26, 196, 26);
                }
                .destacado1{
                    width: 16rem;
                    height: 16rem;
                    background-image: url('../assets/destacados/mesa.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: $br-10;
                    transition: 0.2s;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
            div{
                h3{
                    font-size: $fs-sm;
                    color: rgb(26, 196, 26);
                }
                .destacado2{
                    width: 16rem;
                    height: 16rem;
                    background-image: url('../assets/destacados/mesa2.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: $br-10;
                    transition: 0.2s;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
            div{
                h3{
                    font-size: $fs-sm;
                    color: rgb(26, 196, 26);
                }
                .destacado3{
                    width: 16rem;
                    height: 16rem;
                    background-image: url('../assets/destacados/mesa3.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: $br-10;
                    transition: 0.2s;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
        }
        .ofertaGaleria{
            width: 100%;
            flex-wrap: wrap;
            div{
                h3{
                    font-size: $fs-sm;
                    color: rgb(26, 196, 26);
                }
                .oferta1{
                    width: 16rem;
                    height: 16rem;
                    background-image: url('../assets/ofertas/oferta1.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: $br-10;
                    transition: 0.2s;
                    &:hover{
                        scale: 1.1;
                    }
                }
                .tachado{
                    text-decoration: line-through;
                }
            }
            div{
                h3{
                    font-size: $fs-sm;
                    color: rgb(26, 196, 26);
                }
                .oferta2{
                    width: 16rem;
                    height: 16rem;
                    background-image: url('../assets/ofertas/oferta2.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: $br-10;
                    transition: 0.2s;
                    &:hover{
                        scale: 1.1;
                    }
                }
                .tachado{
                    text-decoration: line-through;
                }
            }
            div{
                h3{
                    font-size: $fs-sm;
                    color: rgb(26, 196, 26);
                }
                .oferta3{
                    width: 16rem;
                    height: 16rem;
                    background-image: url('../assets/ofertas/oferta3.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: $br-10;
                    transition: 0.2s;
                    &:hover{
                        scale: 1.1;
                    }
                }
                .tachado{
                    text-decoration: line-through;
                }
            }
        }
    }
}