#main{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	flex-basis: 1200px;
    .sBienvenida{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 0.5rem solid $color-4;
        .mainImage1{
            background-image: url('../assets/background1.jpg');
            height: 50vh;
            min-height: 400px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-content: center;
            border-top: 1rem solid $color-5;
            border-bottom: 1rem solid $color-5;
            a{
                text-decoration: none;
                h1{
                    margin-bottom: 1rem;
                    color: $color-3;
                    font-size: $fs-lg;
                    font-weight: $fw-bold;
                    transition: all 0.3s;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
        }
        .displayInfo{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            /*
            @keyframes animaFondo{
                0%{
                    background-position: 5% 0%;
                }
                50%{
                    background-position: 96% 0%;
                }
                100%{
                    background-position: 5% 0%;
                }
            }
            background: linear-gradient(114.34deg, $color-2 0%, $color-3 9.13%, $color-4 23.49%, $color-5 37.81%, rgb(231, 105, 231) 51.25%, rgb(240, 93, 166) 68.38%, rgb(231, 208, 105) 82.32%, rgb(105, 231, 122) 92.08%, rgb(90,180,80)) !important;
            border-color: transparent !important;
            border-radius: $br-5;
            color: $color-1 !important;
            animation-name: animaFondo;
            animation-iteration-count: infinite !important;
            animation-duration: 42s !important;
            animation-delay: 0 !important;
            background-size: 1000% 1000% !important; */
            .card--A{
                background-color: $color-4 !important;
                opacity: 85%;
                border-color: transparent !important;
                border-radius: $br-10;
                color: $color-1 !important;
                div{
                    h2, h3{
                        font-size: $fs-md !important;
                        font-weight: $fw-reg !important;
                    }
                }
            }
            .card--B{
                background-color: $color-4 !important;
                opacity: 85%;
                border-color: transparent !important;
                border-radius: $br-10;
                color: $color-1 !important;
                div{
                    h2, h3{
                        font-size: $fs-md !important;
                        font-weight: $fw-reg !important;
                    }
                }
            }
            .card--C{
                background-color: $color-4 !important;
                opacity: 85%;
                border-color: transparent !important;
                border-radius: $br-10;
                color: $color-1 !important;
                div{
                    h2, h3{
                        font-size: $fs-md !important;
                        font-weight: $fw-reg !important;
                    }
                }
            }
        }
    }
    .sDestacados{
        max-height: 50rem;
        min-height: 40rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        .carouselContainer1{
            max-width: 30rem;
            div{
                h1{
                    margin-bottom: 1rem;
                    color: $color-1;
                    font-size: $fs-lg;
                    font-weight: $fw-bold;
                }
                div{
                    div{
                        img{
                            border-radius: $br-10;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    p{
                        margin-bottom: 1rem;
                        color: $color-1;
                        font-size: $fs-lg;
                        font-weight: $fw-bold;
                        transition: all 0.3s;
                        &:hover{
                            scale: 1.1;
                        }
                    }
                }
            }
        }    
    }
    .sIntermedia{
        display: block;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        border-top: 0.5rem solid $color-5;
        border-bottom: 0.5rem solid $color-5;
        .mainImage2{
            background-image: url('../assets/background2.jpg');
            height: 30vh;
            width: 100%;
            min-height: 10rem;
            max-height: 15rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            div{
                width: 50%;
                box-sizing: border-box;
                padding: 1rem;
                p{
                    font-size: $fs-lg;
                    color: $color-3;
                    word-wrap: break-word;
                }
            }
        }
    }
    .sNuevo{
        max-height: 50rem;
        min-height: 40rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-bottom: 0.5rem solid $color-4;
        .carouselContainer2{
            max-width: 30rem;
            div{
                h2{
                    margin-bottom: 1rem;
                    color: $color-1;
                    font-size: $fs-lg;
                    font-weight: $fw-bold;
                }
                div{
                    div{
                        img{
                            border-radius: $br-10;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    p{
                        margin-bottom: 1rem;
                        color: $color-1;
                        font-size: $fs-lg;
                        font-weight: $fw-bold;
                        transition: all 0.3s;
                        &:hover{
                            scale: 1.1;
                        }
                    }
                }
            }
        }   
    }
    .sReputacion{
        max-height: 50rem;
        min-height: 20rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-bottom: 0.5rem solid $color-4;
        div{
            header{
                p{
                    @include font($fs-lg, $fw-bold, $color-1, center);
                }
            }
        }
        .carouselContainer3{
            max-width: 30rem;
            div{
                div{
                    div{
                        img{
                            border-radius: $br-10;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    p{
                        margin-bottom: 1rem;
                        color: $color-1;
                        font-size: $fs-lg;
                        font-weight: $fw-bold;
                        transition: all 0.3s;
                        &:hover{
                            scale: 1.1;
                        }
                    }
                }
            }
        }   
    }
    .sRegistro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        border-radius: $br-5;
        background-color: $color-5;
        max-height: 300px;
        div{
            form{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                div{
                    input{
                        transition: all 0.2s;
                        &:focus{
                            scale: 1.2;
                        }
                    }
                    .form-check-input{
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
                button{
                    background-color: $color-4;
                    color: $color-1;
                    border: 3px solid $color-2;
                    transition: all 0.2s;
                    &:hover{
                        scale: 1.2;
                    }
                }
            }
        }
    }
}
.modal{
    .modal-dialog{
        .modal-content{
            background-color: $color-2;
            .modal-header{
                h5{
                    color: $color-3;
                }
            }
            .modal-body{
                color: $color-3;
            }
        }
    }
}
